  <div class="jumbotron">
    <div class="container">
      <div id="carousel-header" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="//cdn.w116.org/img/W116-2.jpg" alt="W116">
          </div>
          <div class="item">
            <img src="//cdn.w116.org/img/W116-3.jpg" alt="W116">
          </div>
          <div class="item">
            <img src="//cdn.w116.org/img/W116-5.jpg" alt="W116">
          </div>
          <div class="item">
            <img src="//cdn.w116.org/img/Mercedes-S-Class-006.jpg" alt="W116">
          </div>
          <div class="item">
            <img src="//cdn.w116.org/img/Mercedes-S-Class-009.jpg" alt="W116">
          </div>
        </div>
      </div>
    </div>
  </div>
