<div id="slideshow" class="cycle-slideshow" data-cycle-speed="2000" data-cycle-timeout="6000" data-cycle-loader=true data-cycle-progressive="#images">
        <img class="img-responsive" src="//cdn.w116.org/img/W116-2.jpg" alt="W116" height="450" width="1280" class="first">
        <script id="images" type="text/cycle">
            <img class="img-responsive" src="//cdn.w116.org/img/W116-3.jpg" alt="W116" height="450" width="1280">
            <img class="img-responsive" src="//cdn.w116.org/img/W116-5.jpg" alt="W116" height="450" width="1280">
            <img class="img-responsive" src="//cdn.w116.org/img/Mercedes-S-Class-006.jpg" alt="W116" height="450" width="1280">
            <img class="img-responsive" src="//cdn.w116.org/img/Mercedes-S-Class-009.jpg" alt="W116" height="450" width="1280">
        </script>
</div>
