<div id="crossfade"  class="container-fluid">
        <img class="img-responsive" src="{{site.cdn}}/img/W116-2.jpg" alt="W116" height="450" width="1280">
        <img class="img-responsive" src="{{site.cdn}}/img/W116-3.jpg" alt="W116" height="450" width="1280">
        <img class="img-responsive" src="{{site.cdn}}/img/W116-5.jpg" alt="W116" height="450" width="1280">
        <img class="img-responsive" src="{{site.cdn}}/img/Mercedes-S-Class-006.jpg" alt="W116" height="450" width="1280">
        <img class="img-responsive" src="{{site.cdn}}/img/Mercedes-S-Class-009.jpg" alt="W116" height="450" width="1280">
</div>