<footer>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- W116 Footer -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4082653343138549"
     data-ad-slot="8064488374"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="row">
<div class="col-lg-2 col-md-4">
<ul class="list">
<li><a href="/library/amg">AMG</a></li><li><a href="/library/becker_upgrade">Becker Upgrade</a></li><li><a href="/library/design">Design</a></li><li><a href="/library/production">Production figures</a></li><li><a href="/library/codes1">Option Codes</a></li><li><a href="/library/colors">Color Codes</a></li><li><a href="/library/fuel">Unleded Fuel</a></li><li><a href="/library/philosophy01">Philosophy</a></li>
</ul>
</div>

<div class="col-lg-2 col-md-2">
<ul class="list">
<li><a href="/library/116_020"> 116.020 (280S)</a></li><li><a href="/library/116_024"> 116.024 (280SE)</a></li><li><a href="/library/116_025"> 116.025 (280SEL)</a></li><li><a href="/library/116_028"> 116.028 (350SE) </a></li><li><a href="/library/116_029"> 116.029 (350SEL) </a></li><li><a href="/library/116_032"> 116.032 (450SE)</a></li><li><a href="/library/116_033"> 116.033 (450SEL) </a></li><li><a href="/library/116_036"> 116.036 (450SEL 6.9) </a></li><li><a href="/library/116_120"> 116.120 (300SD) </a></li>
</ul>
</div>
<div class="col-lg-2 col-md-2">
<ul class="list">
<li><a href="/library/M110"> M110 (280S/SE/SEL)</a></li><li><a href="/library/M116"> M116 (350SE/SEL) </a></li><li><a href="/library/M117"> M117 (450SE/SEL) </a></li><li><a href="/library/M100"> M100 (450SEL 6.9) </a></li><li><a href="/library/OM617"> OM617 (300SD) </a></li>
</ul>
</div>

<div class="col-lg-3 col-md-2">
<ul class="list">
<li><a href="/library/autocar7202">Designs Analysed: M116 3.5L V8</a></li><li><a href="/library/modernmotor7212">Special: First Full Drive - S-Class</a></li><li><a href="/library/motortrend7305">Road Test - 450SE</a></li><li><a href="/library/wheels7306">News Scene - S-Class</a></li><li><a href="/library/autocar7307">Auto Test - 280SE</a></li><li><a href="/library/wheels7402">Road Report - 450SEL </a></li><li><a href="/library/autocar7405">Auto Test - 450SEL </a></li><li><a href="/library/modernmotor7506">Road Test - 450SE</a></li><li><a href="/library/modernmotor7509">Feature - 450SEL 6.9</a></li>
</ul>
</div>
<div class="col-lg-3 col-md-2">
<ul class="list">
<li><a href="/library/motor7610">Road Test Report - 450SEL 6.9</a></li><li><a href="/library/car7701">Review - 450SEL 6.9</a></li><li><a href="/library/caranddriver7707">Review - 450SEL 6.9</a></li><li><a href="/library/roadtrack7708">Owner Survey - 450 series</a></li><li><a href="/library/autocar7801">Mercedes Miles - 450SEL</a></li><li><a href="/library/motormanual7809">Road Test - 280SEL</a></li><li><a href="/library/thestar9003">Feature - 450SEL 6.9</a></li><li><a href="/library/yourclassic9403">Fact File - S-Class</a></li><li><a href="/library/uniquecars9909">Buyers Guide - 450SEL</a></li>
</ul>
</div>

</div>
<p><a href="mailto:&#105;&#110;&#102;&#111;&#64;&#119;&#49;&#49;&#54;&#46;&#111;&#114;&#103">contact</a> | <a href="/legal">legal</a> &copy;&nbsp;w116.org</p>
<p class="timestamp">This page last modified: {{ site.time | date_to_long_string }}</p>
</footer>

