     <nav class="navbar navbar-default">
 <div class="container">
  <div class="navbar-header">
<a href="{{ site.baseurl }}" class="navbar-brand">W116.org : S-Class Enthusiasts</a>
<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="navbar-collapse collapse" id="navbar-main">
<ul class="nav navbar-nav navbar-right">
<li>
<a href="//forum.w116.org">forum</a>
</li>
<li>
<a href="//gallery.w116.org">gallery</a>
</li>
<li>
<a href="//handbook.w116.org">handbook</a>
</li>
<li><a href="{{ site.baseurl }}library/">library</a></li>
<li class="dropdown">
<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
<!-- Google CSE Search Box Begins -->
<form class="dropdown-menu navbar-form" style="padding:12px;" id="searchbox_003343643230027729303:0egu1ztveue" action="http://www.w116.org/search/">
<div class="form-group">
  <input type="hidden" name="cx" value="003343643230027729303:0egu1ztveue" />
  <input name="q" type="text" size="30" class="form-control" placeholder="" />
  <input type="hidden" name="sa" value="Search" />
  <input type="hidden" name="cof" value="FORID:9" />
</div>
</form>
<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=searchbox_003343643230027729303%3A0egu1ztveue"></script>
<!-- Google CSE Search Box Ends -->
</li>
</ul>
  </div>
 </div>
</nav> <!-- End of navigation menu -->
