<nav class="navbar navbar-default navbar-static-top">
     <div class="container">
          <div class="navbar-header">
               <a href="/" class="navbar-brand">W116.org : S-Class Enthusiasts</a>
               <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
               </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="//forum.w116.org/">forum</a></li>
                    <li><a href="//gallery.w116.org/">gallery</a></li>
                    <li><a href="/tech/">technical</a></li>
                    <li><a href="/library/">library</a></li>
                    <li class="dropdown">
                         <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
{% include search_g.html %}
                    </li>
               </ul>
          </div>
     </div>
</nav> <!-- End of navigation menu -->
