<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{site.description}}">
<meta name="publisher" content="{{site.publisher}}">
<meta name="keywords" content="{{site.keywords}}">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<title>
	{{site.title}}
</title>
<style>
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
  -webkit-box-shadow: none;
  -moz-box-sizing: content-box;
  box-shadow: none;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
  box-sizing: content-box;
  line-height: normal;
}
</style>
</head>

<body>

{% include navbar.html %}

{% if site.pop-img %}
<object id="pop" type="image/svg+xml" data="{{site.cdn}}/img/{{site.pop-img}}" class="svg center-block img-responsive hidden-xs hidden-sm"></object>
{% endif %}

{% include header.html %}

<div id="content" class="container">

{{ content }}

<hr>

</div> <!-- End of content -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script>
  (function() {
    var cx = '014336670215032357951:vtn0xkddfnw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
</body>
</html>
