<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{site.description}}">
<meta name="publisher" content="{{site.publisher}}">
<meta name="keywords" content="{{site.keywords}}">
<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="/css/crossfade.css">
<title>
	{{site.title}}
</title>
<style>
#crossfade {
	position: relative;
	width: 100%;
	padding-bottom: 35.15625%
}
#content p + ul {
    margin-top: -1em;
}
#navbar-toggle-cbox {
  display:none;
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}
.search_box:focus-within {
    width: 20rem;
  }
</style>
</head>

<body>

{% include navbar5.html %}

{% include banner.html %}

{% include header5.html %}

<div id="content" class="container">

{{ content }}

</div> <!-- End of content -->

{% include footer.html %}

</body>
</html>
