<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Mercedes-Benz W116 S-Class Enthusiasts Group : Forum - Gallery - Library">
<meta name="publisher" content="W116.org">
<meta name="keywords" content="W116, w116, 116, 280S, 280SE, 280SEL, 300SD, 350SE, 350SEL, 450SE, 450SEL, 450SEL 6.9, S-Class, Mercedes, Mercedes-Benz, Forum, Gallery, Library">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<title>
	W116 : Mercedes-Benz S-Class - 280S, 280SE, 280SEL, 300SD, 350SE, 350SEL, 450SE, 450SEL &amp; 450SEL 6.9
</title>
<style id="jsbin-css">
.navbar-default {
  margin-bottom: 0px;
}
#content p {
  margin: 1em;
  line-height: 1.6em;
}
#content p + ul {
    margin-top: -1em;
}
.cycle-slideshow img { display: none; width: 100%; }
.cycle-slideshow img.first { display: block; }
</style>
</head>

<body>

{% include navbar.html %}

{% include banner.html %}

{% include header.html %}

<div id="content" class="container">

{{ content }}

</div> <!-- End of content -->

{% include footer.html %}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.cycle2.min.js"></script>
<!-- Google Custom Search Engine -->
<script>
  (function() {
    var cx = '014336670215032357951:vtn0xkddfnw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
</body>
</html>
