<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{site.description}}">
<meta name="publisher" content="{{site.publisher}}">
<meta name="keywords" content="{{site.keywords}}">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/crossfade.css">
<title>
	{{site.title}}
</title>
<style>
#crossfade {
	position: relative;
}
.navbar-default {
  margin-bottom: 0px;
}
#content p {
  margin: 1em;
  line-height: 1.6em;
}
#content p + ul {
    margin-top: -1em;
}
</style>
</head>

<body>

{% include navbar.html %}

{% include banner.html %}

{% include header.html %}

<div id="content" class="container">

{{ content }}

</div> <!-- End of content -->

{% include footer.html %}

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.native/2.0.6/bootstrap-native.min.js"></script>
<!-- Google Custom Search Engine -->
<script>
  (function() {
    var cx = '014336670215032357951:vtn0xkddfnw';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
</body>
</html>
